.register-container {
  padding: 20px;
  background-color: #e0f7f4;
  color: #004d40;
}

.register-paper {
  padding: 20px;
}

.register-heading {
  margin-top: 20px;
  font-weight: bold;
  color: #004d40;
}

.form-section {
  margin-top: 20px;
}

.register-form .MuiTextField-root {
  margin-bottom: 20px;
}
